@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="background_image" style="background-image:url(Theme/images/index_hero.jpg)"></div>

    <!-- Header -->

    <header class="header" id="header">
        <div>
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo">
                                    <a href="#">Alzainab<span>Herbals</span></a>
                                </div>
                                <div class="header_top_extra d-flex flex-row align-items-center justify-content-start ml-auto">
                                    <div class="header_top_nav">
                                        <ul class="d-flex flex-row align-items-center justify-content-start">
                                            <li><a href="#">Help Desk</a></li>
                                            <li><a href="#">Emergency Services</a></li>
                                            <li><a href="#">Appointment</a></li>
                                        </ul>
                                    </div>
                                    <div class="header_top_phone">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>@AppConstants.CONTACT_PHONE_PRIMARY</span>
                                    </div>
                                </div>
                                <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_nav" id="header_nav_pin">
                <div class="header_nav_inner">
                    <div class="header_nav_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
                                        <nav class="main_nav">
                                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                                <li class="active"><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="news.html">News</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                        <div class="search_content d-flex flex-row align-items-center justify-content-end ml-auto">
                                            <form action="#" id="search_container_form" class="search_container_form">
                                                <input type="text" class="search_container_input" placeholder="Search" required="required">
                                                <button class="search_container_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">6
                    <div class="home_content">
                        <div class="home_title">Medical Services that you can trust</div>
                        <div class="home_text">We specialize in Herbals, Hijama and Istikhara. </div>
                        <div class="button home_button"><a href="#"><span>read more</span><span>read more</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Info Boxes -->

<div class="info">
    <div class="container">
        <div class="row row-eq-height">

            <!-- Info Box -->
            <div class="col-lg-4 info_box_col">
                <div class="info_box">
                    <div class="info_image"><img src="~/Theme/images/info_1.jpg" alt=""></div>
                    <div class="info_content">
                        <div class="info_title">Free Consultations</div>
                        <div class="info_text">
                            Consult with us without any cost. You just ask what is your problem, We shall guide you what is best for your health.
                        </div>
                        <div class="button info_button"><a href="#"><span>read more</span><span>read more</span></a></div>
                    </div>
                </div>
            </div>

            <!-- Info Box -->
            <div class="col-lg-4 info_box_col">
                <div class="info_box">
                    <div class="info_image"><img src="~/Theme/images/info_2.jpg" alt=""></div>
                    <div class="info_content">
                        <div class="info_title">Emergency Care</div>
                        <div class="info_text">We care of you. We know how much a life is important. Now 24 hour available for your care in any case of emergency.</div>
                        <div class="button info_button"><a href="#"><span>read more</span><span>read more</span></a></div>
                    </div>
                </div>
            </div>

            <!-- Info Form -->
            <div class="col-lg-4 info_box_col">
                <div class="info_form_container">
                    <div class="info_form_title">Make an Appointment</div>
                    <form action="#" class="info_form" id="info_form">
                       
                        <input type="text" class="info_input" placeholder="Name" required="required">
                        <input type="text" class="info_input" placeholder="Phone No">
                        <input type="email" class="info_input" placeholder="Email">
                        <textarea class="info_input" placeholder="your message" style="min-height:100px; margin-bottom:20px;"></textarea>
                        <button class="info_form_button">make an appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA -->

<div class="cta">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="Theme/images/cta_1.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-xl-row flex-column align-items-xl-start align-items-center justify-content-xl-start justify-content-center">
                    <div class="cta_content text-xl-left text-center">
                        <div class="cta_title">Make an appointment with one of our professional Doctors.</div>
                        <div class="cta_subtitle">Now book your appointment just through one call.</div>
                    </div>
                    <div class="button cta_button ml-xl-auto"><a href="tel:@AppConstants.CONTACT_PHONE_PRIMARY"><span>call now</span><span>call now</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">Our Services</div>
                <div class="section_subtitle">to choose from</div>
            </div>
        </div>
        <div class="row icon_boxes_row">

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="~/Theme/images/icon_1.svg" alt=""></div>
                        <div class="icon_box_title">Herbals</div>
                    </div> 
                    <div class="icon_box_text">We cure diseases by Herbals. Herbals are medical pltants used in medical treatment. We have best herbal medicines all over in Pakistan.</div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="~/Theme/images/icon_2.svg" alt=""></div>
                        <div class="icon_box_title">Hijama</div>
                    </div>
                    <div class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="~/Theme/images/icon_3.svg" alt=""></div>
                        <div class="icon_box_title">Istikharah</div>
                    </div>
                    <div class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="~/Theme/images/icon_4.svg" alt=""></div>
                        <div class="icon_box_title">Dental Care</div>
                    </div>
                    <div class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="~/Theme/images/icon_5.svg" alt=""></div>
                        <div class="icon_box_title">Surgery</div>
                    </div>
                    <div class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="~/Theme/images/icon_6.svg" alt=""></div>
                        <div class="icon_box_title">Neurology</div>
                    </div>
                    <div class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="button services_button ml-auto mr-auto"><a href="#"><span>read more</span><span>read more</span></a></div>
            </div>
        </div>
    </div>
</div>

<!-- Departments -->

<div class="departments">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">Our Departments</div>
                <div class="section_subtitle">to choose from</div>
            </div>
        </div>
        <div class="row dept_row">
            <div class="col">
                <div class="dept_slider_container_outer">
                    <div class="dept_slider_container">

                        <!-- Slider -->
                        <div class="owl-carousel owl-theme dept_slider">

                            <!-- Slide -->
                            <div class="owl-item dept_item">
                                <div class="dept_image"><img src="~/Theme/images/dept_1.jpg" alt=""></div>
                                <div class="dept_content">
                                    <div class="dept_title">Neonatology</div>
                                    <div class="dept_link"><a href="#">Read More</a></div>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="owl-item dept_item">
                                <div class="dept_image"><img src="~/Theme/images/dept_2.jpg" alt=""></div>
                                <div class="dept_content">
                                    <div class="dept_title">Dentistry</div>
                                    <div class="dept_link"><a href="#">Read More</a></div>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="owl-item dept_item">
                                <div class="dept_image"><img src="~/Theme/images/dept_3.jpg" alt=""></div>
                                <div class="dept_content">
                                    <div class="dept_title">Orthopedics</div>
                                    <div class="dept_link"><a href="#">Read More</a></div>
                                </div>
                            </div>

                            <!-- Slide -->
                            <div class="owl-item dept_item">
                                <div class="dept_image"><img src="~/Theme/images/dept_4.jpg" alt=""></div>
                                <div class="dept_content">
                                    <div class="dept_title">Laboratory</div>
                                    <div class="dept_link"><a href="#">Read More</a></div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Dept Slider Nav -->
                    <div class="dept_slider_nav"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- FAQ & News -->

<div class="stuff">
    <div class="container">
        <div class="row">

            <!-- FAQ -->
            <div class="col-lg-7">
                <div class="faq">
                    <div class="faq_title">Faq & Stuff</div>
                    <div class="faq_subtitle">read all about it</div>
                    <div class="elements_accordions">
                        <div class="accordions">

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center active"><div>Maecenas fermentum tortor id fringilla molestie.</div></div>
                                <div class="accordion_panel">
                                    <div>
                                        <p>Lorem ipsum dolor sit amet, lorem maximus consectetur adipiscing elit. Donec malesuada lorem maximus mauris. Lorem ipsum dolor sit amet, lorem maximus consectetur adipiscing.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center"><div>Duis quis lacinia elit. Etiam varius mi eget lacus ultricies elementum</div></div>
                                <div class="accordion_panel">
                                    <div>
                                        <p>Lorem ipsum dolor sit amet, lorem maximus consectetur adipiscing elit. Donec malesuada lorem maximus mauris. Lorem ipsum dolor sit amet, lorem maximus consectetur adipiscing.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center"><div>Maecenas fermentum tortor id fringilla molestie.</div></div>
                                <div class="accordion_panel">
                                    <div>
                                        <p>Lorem ipsum dolor sit amet, lorem maximus consectetur adipiscing elit. Donec malesuada lorem maximus mauris. Lorem ipsum dolor sit amet, lorem maximus consectetur adipiscing.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Latest News -->
            <div class="col-lg-5">
                <div class="news">
                    <div class="news_title">Latest News</div>
                    <div class="news_subtitle">read all about it</div>
                    <div class="news_container">

                        <!-- Latest News Post -->
                        <div class="latest d-flex flex-row align-items-start justify-content-start">
                            <div><div class="latest_image"><img src="~/Theme/images/latest_1.jpg" alt=""></div></div>
                            <div class="latest_content">
                                <div class="latest_title"><a href="news.html">A simple blog post</a></div>
                                <div class="latest_info">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li><a href="#">by Jane Smith</a></li>
                                        <li><a href="#">April 25, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="latest_comments"><a href="#">2 Comments</a></div>
                            </div>
                        </div>

                        <!-- Latest News Post -->
                        <div class="latest d-flex flex-row align-items-start justify-content-start">
                            <div><div class="latest_image"><img src="~/Theme/images/latest_2.jpg" alt=""></div></div>
                            <div class="latest_content">
                                <div class="latest_title"><a href="news.html">A new way to see things in medicine</a></div>
                                <div class="latest_info">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li><a href="#">by Jane Smith</a></li>
                                        <li><a href="#">April 25, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="latest_comments"><a href="#">2 Comments</a></div>
                            </div>
                        </div>

                        <!-- Latest News Post -->
                        <div class="latest d-flex flex-row align-items-start justify-content-start">
                            <div><div class="latest_image"><img src="~/Theme/images/latest_3.jpg" alt=""></div></div>
                            <div class="latest_content">
                                <div class="latest_title"><a href="news.html">Why is Pharma industry so big?</a></div>
                                <div class="latest_info">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li><a href="#">by Jane Smith</a></li>
                                        <li><a href="#">April 25, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="latest_comments"><a href="#">2 Comments</a></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<h1>Fakhar Pagal</h1>
